@page
@model ToyStoreManagement.Pages.Toy.DetailsModel

@{
    ViewData["Title"] = "Details";
}
@{
    var session = HttpContext.Session;
    var name = session.GetString("Name");
    var roleId = session.GetInt32("RoleId");
    var accountId = session.GetInt32("AccountId");
}
    <div class="row mb-5 gx-5">
        <div class="col-xxl-6 mb-5 mb-xxl-0">
            <div class="bg-secondary-soft px-4 py-5 rounded">

                <div class="text-right">
                    <div class="square display-2 mb-3">
                        <img src="~/images/@Model.Product.PhotoUrlThumnail" width="300px" height="300px"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-6 mb-5 mb-xxl-0">
            <div class="bg-secondary-soft px-4 py-5 rounded">
                <div class="row g-3">
                    <div class="col-md-12">
                        <h5 style="font-weight: bold;">@Model.Product.Name</h5>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Price :</label>
                        <span style="color: red;">@Model.Product.Price $</span>
                    </div>
                    <div class="col-md-12">
                        <label for="inputEmail4" class="form-label">Stock Quantity *</label>
                        <span>@Model.Product.StockQuantity</span>
                    </div>
                    <div class="banner">
                        <div class="container">
                            <span>✓ Hàng Chính Hãng</span><br />
                            <span>✓ Miễn Phí Giao Hàng Toàn Quốc Đơn Trên 500k</span><br />
                            <span>✓ Giao Hàng Hòa Tốc 4 Tiếng</span>
                        </div>
                    </div>
                    <div class="container">
                        <form method="post" asp-page-handler="AddToCart">
                            <input type="hidden" name="productId" value="@Model.Product.ProductId" />
                            <button class="btn btn-primary" type="submit">Add to cart</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="container">
            <h3>Mô tả sản phẩm</h3>
            <div class="row">
                <div class="col-md-12 description-container">
                    <h5 style="font-weight: bold;">@Model.Product.Name</h5>
                    <p>@Model.Product.Description</p>
                </div>
            </div>
            </div>
<div class="container">
            <h3>Feedback</h3>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Customer Name: activate to sort column ascending">Customer Name</th>
                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Feedback Date: activate to sort column ascending">Feedback Date</th>
                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Feedback Text: activate to sort column ascending">Feedback Text</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var feedback in Model.Feedback)
                    {
                        <tr>
                            <td>@feedback.Customer.Name</td>
                            <td>@feedback.FeedbackDate</td>
                            <td>@feedback.FeedbackText</td>
                        </tr>
                    }
                </tbody>
            </table>
    @if (roleId == 3)
    {
        <h2 class="my-4">Create Review</h2>
        <form method="post" enctype="multipart/form-data" asp-page-handler="AddFeedback">
            <div class="mb-3">
                <label for="productId" class="form-label">Product</label>
            </div>
            <div class="mb-3">
                <label for="feedback" class="form-label">Review</label>
                <textarea id="feedback" name="FeedbackText" class="form-control" rows="4"></textarea>
            </div>
            <input type="hidden" name="productId" value="@Model.Product.ProductId" />
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Create Review</button>
            </div>
        </form>
    }
</div>


<script type="text/javascript">
    window.onload = function () {
        if ('@TempData["Message"]' != "") {
            alert('@TempData["Message"]');
        }
    };
</script>