@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome to our Toy Store!</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].StockQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].PhotoUrlThumnail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ProductReviews)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhotoUrlThumnail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductReviews)
                </td>
            </tr>
        }
    </tbody>
</table>
