@page
@model ToyStoreManagement.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details Product";
}

<div class="row">
    <div class="col-12">
        <div class="my-5">
            <h3>New Product</h3>
            <hr>
        </div>
        <form class="file-upload" method="post">
            <div class="row mb-5 gx-5">
                <div class="col-xxl-8 mb-5 mb-xxl-0">
                    <div class="bg-secondary-soft px-4 py-5 rounded">
                        <div class="row g-3">
                            <h4 class="mb-4 mt-0">Profile detail</h4>
                            <div class="col-md-6">
                                <label class="form-label">Name *</label>
                                <input type="text" class="form-control" placeholder="" aria-label="Name" name="Name" value="@Model.Product.Name" required>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Price ($) *</label>
                                <input type="number" class="form-control" placeholder="" aria-label="Price" name="Price" value="@Model.Product.Price" required>
                            </div>
                            <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Stock Quantity *</label>
                                <input type="number" class="form-control" name="StockQuantity" value="@Model.Product.StockQuantity" required>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Category *</label>
                                <select name="CategoryId" aria-controls="CategoryId" class="custom-select form-control ">
                                    @foreach (var category in Model.Categories)
                                    {
                                        <option value="@category.CategoryId" selected="@Model.Product.CategoryId == @category.CategoryId">@category.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label class="form-label">Description *</label>
                                <textarea class="form-control" placeholder="" aria-label="Description" name="Description" required>@Model.Product.Description</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4">
                    <div class="bg-secondary-soft px-4 py-5 rounded">
                        <div class="row g-3">
                            <h4 class="mb-4 mt-0">Thumbnai product photo</h4>
                            <div class="text-center">
                                <div class="square position-relative display-2 mb-3">
                                    <img src="~/images/@Model.Product.PhotoUrlThumnail" style="width: 300px; height: 300px;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap-3 d-md-flex justify-content-md-end text-center">
                <p style="color:red">@Model.Message</p>
                <input name="Id" value="@Model.Product.ProductId" hidden />
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Update Product</button>
        </form>
    </div>
</div>