@page
@model ToyStoreManagement.Pages.MyOrder.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@{
    ViewData["Title"] = "Details";
    var count = 1;
    decimal discount = 0;
    decimal total = 0;
}

<h1>Details</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Items
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].OrderDetailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].UnitPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderDetail)
        {
            <tr>
                <td>
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDetailId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
            </tr>
            count++;         
        }
        <tr class="bg-light">
            <td></td>
            <td></td>
            <th>Total: </th>
            <th>@total$</th>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
@if (HttpContext.Session.GetString("ROLE").Equals("USER"))
{
    <a asp-page="./Index" class="btn btn-sm btn-outline-secondary mr-1">Back</a>
}
else
{
    <a asp-page="./MyOrder" class="btn btn-sm btn-outline-secondary mr-1">Back</a>
}
